[user]
	name = Zhiyuan Shi
	email = zhiyuanshi@users.noreply.github.com
[credential]
	helper = cache --timeout=864000
[branch]
	autosetuprebase = always
[push]
	default = simple
[core]
	editor = emacsclient --create-frame --no-wait --alternate-editor=\"\"
