### Files and directories generated inside ~/.emacs.d ###
/.places
/ac-comphist.dat
/auto-save-list/
/projectile-bookmarks.eld
/smex-items
ido.last
projectile.cache
recentf


### Emacs temp files ###
.\#*
